<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242914433852-66nt8qdegg68avh2jl6siq2vj5jcab4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242914433852-66nt8qdegg68avh2jl6siq2vj5jcab4b</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsRcvO9mjlBwWTtkQnng_DZXOlENWZ6c</string>
	<key>GCM_SENDER_ID</key>
	<string>242914433852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>prova-24d5b</string>
	<key>STORAGE_BUCKET</key>
	<string>prova-24d5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242914433852:ios:87c7ac58dab92e81d65c39</string>
</dict>
</plist>